h1, h2, h3, h4, p, body, ul, li, a {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

body {
  color: #000000;
  font-family: Helvetica Neue, Helvetica, Arial;
  font-size: small;
  padding: 0;
  margin: 0;
}

div#header {
  height: 55px;
  background: #333;
  color: #fff;
}

div#header h1 {
  padding: 18px 0 0 30px;
  font-size: 22px;
}

div#viewport {
  padding: 30px;
}

ul#short-term {
  float: left;
  width: 65%;
  min-height: 400px;
  border: 1px solid red;
}

ul#short-term li {
  list-style: none;
  opacity: 0.96;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

ul#short-term li a {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  display: block;
  font-size: 16px;
  min-height: 60px;
  padding: 5px;
  text-decoration: none;
  width: 240px;
  background-color: #EBF1F3;
  border: 1px solid #00486C;
}

ul#short-term li a:hover {
  background-color: #00486C;
  border: 1px solid #00486C;
  opacity: 1;
}

ul#short-term li a:hover h2, ul li a:hover p {
  color: #FFFFFF;
}

ul#short-term li img {
  border: none;
  float: left;
  min-height: 25px;
  padding-right: 5px;
  margin-bottom: 40px;
}

ul#short-term li h2 {
  font-size: 14px;
  font-weight: 200;
  text-transform: uppercase;
  color: #2B7686;
}

ul#short-term li p {
  font-family: Arial;
  font-size: 11px;
}

ul.mid-term {
  background-color: #BFCCE5;
}

ul.long-term {
  background-color: #D9E8FF;
}

ul.mid-term, ul.long-term {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  float: right;
  margin-left: 10px;
  padding: 10px;
  width: 230px;
}

ul.mid-term h1, ul.long-term h1 {
  font-size: 16px;
  padding: 15px 0 10px;
  text-transform: uppercase;
  font-family: helvetica neue;
}

ul.mid-term li, ul.long-term li {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  background-color: #FFFFFF;
  font-size: 12px;
  list-style: none;
  margin-bottom: 5px;
  opacity: 0.5;
}

ul.mid-term li a, ul.long-term li a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #666;
  font-family: Arial;
}


ul.mid-term li a:hover, ul.long-term li a:hover {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  background-color: #666;
  color: #fff;
}

div#timeline {
  background: url(../images/timeline_background.png) repeat-x 0 0;
  height: 80px;
  margin: 30px 30px 0 30px;
}

div#timeline img.timeline_months {
  float: left;
}

div#timeline img.timeline_arrow {
  float: right;
}

div#feature-details {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  background: none repeat scroll 0 0 #EBF1F3;
  margin: 0 30px 30px 30px;
  padding: 20px;
}

div#feature-details ul li:first-child {
    border: none;
}

div#feature-details ul li {
  border-left: 1px solid #CCCCCC;
  float: left;
  list-style: none;
  min-height: 150px;
  padding: 0 10px;
  width: 23%;
}

div#feature-details ul li img {
  float: left;
  padding-right: 10px;
}

div#feature-details ul li h1 {
  color: #660099;
  font-size: 16px;
  font-weight: 200;
  padding-bottom: 5px;
  text-transform: uppercase;
}

div#feature-details ul li h1 span {
    color: #333333;
    text-transform: lowercase;
}

div#feature-details ul li a {
  background-color: #660099;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px 100px 100px 100px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 11px;
  padding: 3px 20px;
  text-decoration: none;
}

div#feature-details ul li a:hover {
  background-color: #C29FD2;
  color: #660099;
}

div#feature-details ul li p {
  font-family: Arial;
  margin-bottom: 20px;
}

div#feature-details ul li p.quote {
    padding-top: 30px;
}

.clearfix {
  clear: both;
}