<div id="viewport">
  <ul id="short-term" class="clearfix">
  <% @features.each do |feature| %>
    <li>
      <a href="#">
        <%= image_tag(feature.icon) %>
        <h1><%= feature.name %></h1>
        <p><%= feature.summary %></p>
      </a>
    </li>
  <% end %>
    <div class="clearfix" />
  </ul>
</div>