<div id="viewport">
  <p><%= render(:partial => 'terms') %></p>
</div>

<div id="timeline">
  <%= image_tag('/images/timeline_months.png', :class => 'timeline_months') %>
  <%= image_tag('/images/timeline_arrow.png', :class => 'timeline_arrow') %>
</div>

<div id="feature-details">
  hello
</div>