<!DOCTYPE html>
<html>
<head>
  <title>Roadmap App</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="header">
  <h1>Company XYZ Product Roadmap, 2011</h1>
</div>

<%= yield %>

</body>
</html>
